hmtl,
body {
  width: 100%;
  height: 100%;
}

.currentPageHighlightCursos {
  color: #fb9232 !important;
}

.currentPageHighlightCursos::after {
  content: "";
  width: 70%;
  height: 3px;
  background: #fb9232;
  display: flex;
  margin-top: 10px;
  margin-left: 25px;
}

.banner-fundo > img {
  margin-top: -103px;
}
