.currentPageHighlightCursos {
  color: #fb9232 !important;
}

.currentPageHighlightCursos::after {
  content: "";
  width: 70%;
  height: 3px;
  background: #fb9232;
  display: flex;
  margin-top: 10px;
  margin-left: 25px;
}
