@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/********************************************Navbar*******************************************************************/

.navbar {
  list-style-type: none;
  padding: 0;
  margin-right: 1%;
  overflow: hidden;
  float: right;
}

.container {
  width: 100%;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(80, 80, 80, 0.7);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 9999;
}

.container > .navbar > li {
  display: inline-flex;
  justify-content: flex-end;
  font-size: 24px;
  position: relative;
}

.container .navbar li:not(:last-child)::after {
  content: "";
  width: 0;
  height: 24px;
  position: absolute;
  border: 1px solid #fff;
  top: 10px;
  left: 100%;
}

.container .navbar li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 8px;
  transition: color 0.3s;
}

.container img {
  float: left;
  cursor: pointer;
}

.navbar li a:hover {
  color: #fb9232 !important;
}

.currentPageHighlightHome {
  color: #fb9232 !important;
}

.currentPageHighlightHome::after {
  content: "";
  width: 70%;
  height: 3px;
  background: #fb9232;
  display: flex;
  margin-top: 10px;
  margin-left: 9.5px;
}

/********************************************Slider de Banners*******************************************************************/

.slider-banner {
  width: 100%;
  height: 100%;
  margin-top: -210px;
}

.slider-item-1 .mascara-banner {
  background: rgba(255, 255, 255, 1);
  height: 100%;
  width: 100%;
}

.slider-item-2 .mascara-banner {
  background: rgba(255, 255, 255, 0.2);
}

.slider-item-3 .mascara-banner {
  background: rgba(255, 255, 255, 0.2);
}

.slider-banner .slider-item-1 .mascara-banner img,
.slider-banner .slider-item-2 .mascara-banner img,
.slider-banner .slider-item-3 .mascara-banner img {
  width: 100%;
  height: 100%;
}

.slider-banner p {
  position: absolute;
}

.slider-banner .slider-item-1 .mascara-banner p:nth-child(2) {
  font-size: 64px;
  top: 24%;
  margin-left: 50px;
  z-index: 99999;
}

.slider-banner .slider-item-1 .mascara-banner p:nth-child(2)::after {
  content: "";
  width: 125%;
  height: 3px;
  background: #000;
  display: flex;
  margin-left: -50px;
}

.slider-banner .slider-item-1 .mascara-banner p:nth-child(3) {
  font-size: 56px;
  margin-left: 185px;
  top: 32%;
}

.slider-banner .slider-item-2 .mascara-banner p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.slider-banner .slider-item-2 .mascara-banner p:nth-child(2) {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 56px;
  top: 26%;
  margin-left: 50px;
}

.slider-banner .slider-item-2 .mascara-banner p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 56px;
  top: 32%;
  margin-left: 50px;
}

.slider-banner .slider-item-2 .mascara-banner p:nth-child(4) {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 56px;
  top: 38%;
  margin-left: 50px;
}

.slider-banner .slider-item-3 .mascara-banner p:nth-child(2) {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 56px;
  top: 26%;
  margin-left: 100px;
}

.slider-banner .slider-item-3 .mascara-banner p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 56px;
  top: 32%;
  margin-left: 100px;
}

.slider-banner .slick-arrow {
  position: absolute;
  top: 50% !important;
  cursor: pointer;
}

.slider-banner svg:nth-child(3) {
  right: 3%;
}

.slider-banner svg:first-child {
  left: 3%;
  z-index: 9999;
}

.slider-banner .slick-dots li {
  margin: 0 32px;
}

.slider-banner .slick-dots li.slick-active button:before {
  opacity: 0.75;
  background: black;
}

.slider-banner .slick-dots li button:before {
  font-family: "slick";
  font-size: 0;
  background: #fb9232;
  line-height: 23px;
  position: absolute;
  border-radius: 50px;
  top: -60px;
  border: 5px solid #fff;
  left: 0px;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************************************Sobre o Curso!*******************************************************************/

.sobre {
  margin: 40px 67px 40px 49px;
}

.sobre-interna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-interna p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
  font-size: 30px;
  margin: 0 40px 0 40px;
}

.sobre-titulo {
  padding: 30px;
  background-color: #fb9232;
  border-radius: 55px;
  text-align: center;
  width: 65%;
  margin-bottom: 30px;
}

.sobre-titulo h2 {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

/********************************************Slider de Categorias*******************************************************************/

.slick-next {
  right: 1% !important;
}

.slick-next::before {
  content: "";
}

.slick-prev {
  left: 1% !important;
  z-index: 2;
}

.slick-prev::before {
  content: "";
}

.estrutura {
  height: 464px;
}

.estrutura h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
}

.mascara {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background 1s;
}

.mascara:hover {
  background: rgba(196, 196, 196, 0.3);
}

.slider-categorias-item-1 {
  background: url(../assets/Home/massas-foto.jpg) no-repeat;
  background-size: 100%;
}

.slider-categorias-item-2 {
  background: url(../assets/Home/risotos.jpg) no-repeat;
  background-size: 100%;
}

.slider-categorias-item-3 {
  background: url(../assets/Home/doces-foto.jpg) no-repeat;
  background-size: 100%;
}

.slider-categorias-item-4 {
  background: url(../assets/Home/carnes-e-frangos.jpg) no-repeat;
  background-size: 100%;
}

.slider-categorias-item-5 {
  background: url(../assets/Home/frutos-do-mar-fotos.jpg) no-repeat;
  background-size: 100%;
}

.slider-categorias-item-6 {
  background: url(../assets/Home/paes.jpg) no-repeat;
  background-size: 100%;
}

/********************************************Slider de Categorias*******************************************************************/

.briefing {
  background-color: #fb9232;
  text-align: center;
  padding: 5% 23%;
}

.briefing p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-align: justify;
}

/********************************************Call-to-action Hotmart*******************************************************************/

.cta {
  width: 100%;
  height: 524px;
  background: url(../assets/Home/hot.jpg) no-repeat;
  background-position: 35% 50%;
  display: flex;
  justify-content: flex-end;
}

.cta button {
  background-color: #c7c7c7;
  margin-top: 30px;
  padding: 26px 81px;
  width: 320px;
  float: right;
  position: absolute;
  border: none;
  border-radius: 80px 0 0 80px;
  box-shadow: 5px 5px 10px #a3a3a3, -5px -5px 10px #ebebeb;
  cursor: pointer;
}

.cta button p {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.cta button img {
  display: inline-block;
  position: relative;
}

.cta button span {
  position: relative;
  font-weight: bold;
  font-size: 32px;
  display: inline-block;
  vertical-align: bottom;
  color: #043d4c;
  text-transform: lowercase;
  margin-bottom: 4px;
}

/********************************************Beneficios*******************************************************************/

.beneficios {
  height: 510px;
  background-color: #fb9232;
  width: 100%;
  display: inline-block;
}

.container-ben {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px 40px 0 40px;
  height: 348px;
}

.beneficio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.beneficio-item:nth-child(2n + 1) h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.beneficio-item:nth-child(2n) h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
}

.beneficio-item img {
  min-height: 125px;
  margin-bottom: 23px;
}

.beneficio-item p {
  font-family: Roboto;
  width: 300px;
  min-height: 161px;
  margin-top: 18px;
  letter-spacing: -0.02em;
  font-size: 23px;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  text-align: justify;
}

.beneficio-item:nth-child(2n + 1) p {
  color: #ffffff;
}

.beneficio-item:nth-child(2n) p {
  color: #000000;
}

.beneficios h2 {
  margin-top: 41px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #fff;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

/********************************************Professores*******************************************************************/

.slider-professores {
  background: url(../assets/Home/bck-beneficios.jpg) no-repeat;
  background-size: 100%;
  height: 910px;
  width: 100%;
}

.slider-professores-item {
  background-color: #fff;
  height: 806px !important;
  width: 1096px !important;
  position: relative;
  left: 21%;
  margin-top: 50px;
  border-radius: 95px;
}

.slider-professores-item .foto-professor {
  height: 806px;
  float: left;
  border-radius: 87px 0 0 87px;
}

.slider-professores-item .aspas {
  position: absolute;
  height: 45px;
  width: 55px;
  left: 70.8%;
  top: 17%;
}

.slider-professores-item section {
  float: inline-start;
}

.slider-professores-item section h2 {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
  margin-top: 20px;
  color: #fb9232;
}

.slider-professores-item section h2::after {
  content: "";
  width: 33%;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 57.2%;
  top: 14%;
}

.slider-professores-item section p {
  padding: 101px 107px 0 57.2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 54px;
  text-align: justify;
  letter-spacing: -0.02em;
  font-feature-settings: "ss07" on;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/********************************************FAQ*******************************************************************/

.faq {
  padding: 65px 0;
}

.faq h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 55px;

  color: #fb9232;
}

.container-faq {
  padding: 0 5.4% 0 3%;
}

.colapsavel {
  border: none;
  background-color: transparent;
  padding: 12px 0;
  width: 100%;
  text-align: start;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  transition: padding-bottom 0.4s ease;
}

.colapsavel:focus {
  outline: none;
}

.colapsavel img {
  vertical-align: middle;
  display: inline-block;
  transform: none;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.colapsavel span {
  padding: 0 0 0 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: #000000;
  text-transform: uppercase;
}

.conteudo {
  max-height: 0;
  overflow: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: max-height 0.4s ease, padding-bottom 0.4s ease;
}

.conteudo p {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  text-align: justify;
  letter-spacing: -0.02em;
  margin-left: 3.5%;
  color: #696969;
}

/********************************************Rodapé*******************************************************************/
.logo-rodape {
  grid-area: logo;
}
.telefone {
  grid-area: telefone;
}
.wpp {
  grid-area: wpp;
}
.localizacao {
  grid-area: localizacao;
}
.email {
  grid-area: email;
}
.socials {
  grid-area: socials;
}
.rota {
  grid-area: rotas;
}

.rodape {
  background-color: #fb9232;
  align-items: center;
  justify-content: center;
  grid-gap: 100px;
}

.informacoes {
  display: grid;
  grid-template-areas:
    "logo logo telefone telefone email email"
    "logo logo wpp wpp socials socials"
    "logo logo localizacao localizacao rotas rotas";
  padding: 4% 10% 2.5% 10%;
  grid-gap: 40px;
}

.telefone {
  height: 100%;
  border-left: 3px solid #000;
  padding: 5px 0px 3px 7px;
}

.wpp {
  height: 94%;
  border-left: 3px solid #000;
  padding: 14px 0px 3px 7px;
}

.localizacao {
  height: 100%;
  border-left: 3px solid #000;
  padding: 5px 0px 3px 7px;
}

.email {
  height: 100%;
  border-left: 3px solid #000;
  padding: 5px 0px 3px 7px;
}

.socials {
  height: 100%;
  border-left: 3px solid #000;
  padding: 5px 0px 3px 7px;
}

.socials img {
  margin: 20px 40px 0 0;
}

.rota a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: justify;
  color: #fb9232;
  background-color: #000;
  padding: 5px 15px;
}

.telefone h2,
.wpp h2,
.localizacao h2,
.email h2,
.socials h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #ffffff;
}

.telefone p,
.wpp p,
.localizacao p,
.email p,
.socials p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.email p {
  margin-top: 15px;
}

.menu-rodape {
  padding-bottom: 2%;
}

.menu-rodape ul {
  list-style-type: none;
  padding: 0;
  margin-right: 1%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.menu-rodape-item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  position: relative;
  margin: 0px 50px;
  text-decoration: none;
}

.logo-rodape {
  height: 100%;
}

.logo-rodape img {
  height: 100%;
}

.copyright {
  border-top: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 0;
}

.copyright span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
